<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://leaverou.github.io/awesomplete/awesomplete.css" />
    <link rel="stylesheet" href="familysearch.css" />
    <script src="https://leaverou.github.io/awesomplete/awesomplete.min.js"></script>
    <script src="https://underscorejs.org/underscore-min.js" charset="utf-8"></script>
    <script src="familysearch.js" charset="utf-8"></script>
    <title>FamilySearch form</title>
  </head>
  <body>
    <form action="#">
      <fieldset id="fieldset-identifiers">
        <legend>Identifying information</legend>
        <label for="record-subject">Subject of record: </label>
        <input class="awesomplete" data-P31="Q5" id="record-subject" name="record-subject" />
        <br>
        <label for="">FamilySearch URL: </label>
        <input type="url" name="familysearch-url" id="familysearch-url">
        <br>
        <label for="">FamilySearch collection: </label>
        <input type="text" name="familysearch-collection" id="familysearch-collection">
        <br>
      </fieldset>
      <fieldset id='fieldset-names'>
        <legend>Names</legend>
        <label>Given names: </label>
        {{#givenNames}}
        <input class="awesomplete" data-P31="Q202444" name="given-name{{number}}" id="given-name{{number}}">
        {{/givenNames}}
        <br>
        <label for="family-name">Family name: </label>
        <input class="awesomplete" date-P31="Q101352" name="family-name" id="family-name">
      </fieldset>
      <fieldset id="fieldset-family">
        <legend>Family</legend>
        <br>
        <label for="mother">Mother: </label>
        <input class="awesomplete" data-P31="Q5" name="mother" id="mother">
        <br>
        <label for="father">Father: </label>
        <input class="awesomplete" data-P31="Q5" name="father" id="father">
        <br>
        <label>Children: </label>
        <input class="awesomplete" data-P31="Q5" name="child1" id="child1">
        <input class="awesomplete" data-P31="Q5" name="child2" id="child2">
        <input class="awesomplete" data-P31="Q5" name="child3" id="child3">
        <input class="awesomplete" data-P31="Q5" name="child4" id="child4">
        <input class="awesomplete" data-P31="Q5" name="child5" id="child5">
        <input class="awesomplete" data-P31="Q5" name="child6" id="child6">
        <br>
        <label>This person is a: </label>
        <input type="radio" name="sexgender" value="male" checked>
        <label for="male">Father</label>
        <input type="radio" name="sexgender" value="female">
        <label for="female">Mother</label>
        <br>
        <label for="spouse">Spouse: </label>
        <input class="awesomplete" data-P31="Q5" name="spouse" id="spouse">
      </fieldset>
      <fieldset id="fieldset-vital-dates">
        <legend>Vital dates</legend>
        {{#events}}
        <label for="date-of-{{event}}">Date of {{event}}: </label>
        <input type="text" name="date-of-{{event}}" id="date-of-{{event}}">
        <input type="checkbox" name="date-of-{{event}}-circa">Circa?</input>
        <label for="age-at-{{event}}">Age at {{event}}: </label>
        <input type="number" name="age-at-{{event}}" id="age-at-{{event}}">
        <label for="latest-date-{{event}}">Latest date: </label>
        <input type="text" name="latest-date-{{event}}" id="latest-date-{{event}}">
        <label for="place-of-{{event}}">Place of {{event}}: </label>
        <input class="awesomplete" name="place-of-{{event}}" id="place-of-{{event}}">
        <br>
        {{/events}}
      </fieldset>
      <fieldset id="fieldset-other-personal">
        <legend>Other personal information</legend>
        <label for="residence">Residence: </label>
        <input class="awesomplete" type="text" name="residence" id="residence">
        <br>
        <label for="occupation">Occupation: </label>
        <input class="awesomplete" data-P31="Q12737077" name="occupation" id="occupation">
      </fieldset>
      <button type="submit" id="submit-button">Convert to QuickStatements</button>
    </form>
    <textarea name="quickstatements-code"></textarea>
  </body>
</html>
